
<div class="modal fade " id="showImgViewModal" tabindex="-2" role="dialog"  style="background-color: rgba(0, 0, 0, 0.3)"
     aria-labelledby="showImgViewModal" aria-hidden="true">
    <div class="modal-dialog" style="text-align:center;">
                <img style="width:100%;height:100%;" :src="imgViewUrl"/>
    </div>
</div>