<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--persistType为Cookie实现类型，有Web等值；securityLevel为安全等级，有Low、Middle、High等值-->
  <cookies nodeName="yy_login" persistType="Web" securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[web.auth.lyy]]></cookieName>
    <!--Hash密钥-->
    <hashkey><![CDATA[991D97C2-DEF9-4B33-BD37-39FEC329391E]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[0235AFD3-4AF5-4E8A-A3DB-D1B017CC436B]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟;只有安全等级为High时生效-->
    <securityExpires><![CDATA[0]]></securityExpires>
  </cookies>
  <!--登录页验证码加密串-->
  <cookies nodeName="lyy_loginVerifyCode" persistType="Web" securityLevel="Middle">
    <!--Cookie名称-->
    <cookieName><![CDATA[auth.verifycode.lyy]]></cookieName>
    <!--Hash密钥-->
    <hashkey><![CDATA[991D97C2-DEF9-4B33-BD37-39FEC329391E]]></hashkey>
    <!--RC4密钥-->
    <rc4key><![CDATA[0235AFD3-4AF5-4E8A-A3DB-D1B017CC436B]]></rc4key>
    <!--所在域名-->
    <domain><![CDATA[localhost]]></domain>
    <!--存放路径-->
    <path><![CDATA[/]]></path>
    <!--有效期，配置为0，则Cookie在会话结束时失效，单位为分钟-->
    <expires><![CDATA[0]]></expires>
    <!--Cookie值有效期，单位为分钟-->
    <securityExpires><![CDATA[0]]></securityExpires>
  </cookies>
</configuration>
