@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <meta http-equiv="Content-type" content="charset=utf-8" />
</head>
<body>
    @*<a href="/OperationMgt/System/Login">进入登录页</a>
    <br />
    <a href="/OperationMgt/System/HomePage">进入首页</a>*@
</body>
</html>
