
<div class="modal fade bs-example-modal-lg" id="voteViewEditModal" tabindex="-1" role="dialog"
     aria-labelledby="voteViewEditModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title">编辑</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12  col-lg-12">
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label><span class="red">*</span>标题：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input v-model="detail.title" placeholder="标题" type="text" maxlength="100" class="form-control input-no-clear" />
                        </div>
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label>多选上限：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input v-model="detail.max_vote_num" placeholder="多选上限" maxlength="10" type="number" class="form-control input-no-clear" />
                        </div>

                    </div>
                </div>

                @*<div class="row">
            <div class="form-group col-md-12 col-xs-12  col-lg-12">
                <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                    <label>活动开始时间：</label>
                </div>
                <div class="col-md-4 col-xs-4 col-lg-4">
                    <input type="text"
                           readonly
                           style="cursor:pointer"
                           v-model="filter.start_time"
                           placeholder="开始时间"
                           class="form-control"
                           v-on:click="beginTimePickerClick('beginTime')" id="beginTime">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
                <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                    <label>活动结束时间：</label>
                </div>
                <div class="col-md-3 col-xs-3 col-lg-3">
                    <input type="text"
                           readonly
                           style="cursor:pointer"
                           v-model="filter.end_time"
                           placeholder="结束时间"
                           class="form-control"
                           v-on:click="endTimePickerClick('endTime')" id="endTime">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>


        </div>*@
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12  col-lg-12">
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label><span class="red">*</span>开始日期：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input type="text"
                                   readonly
                                   style="cursor:pointer"
                                   v-model="detail.start_time"
                                   placeholder="开始时间"
                                   class="form-control"
                                   v-on:click="beginTimePickerClick('beginTime')" id="beginTime">
                        </div>
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label><span class="red">*</span>结束日期：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input type="text"
                                   readonly
                                   style="cursor:pointer"
                                   v-model="detail.end_time"
                                   placeholder="结束时间"
                                   class="form-control"
                                   v-on:click="endTimePickerClick('endTime')" id="endTime">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12  col-lg-12">
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label>活动说明：</label>
                        </div>
                        <div class="col-md-10 col-xs-10 col-lg-10">
                            <textarea v-model="detail.remark" style="height:100px;" placeholder="活动说明" type="text" class="form-control input-no-clear"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12  col-lg-12">
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label>是否发布：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input v-model="detail.is_publish" placeholder="是否发布" type="checkbox" />
                        </div>
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label>是否允许查看明细：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input v-model="detail.is_allow_detail" placeholder="是否允许查看明细" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12 col-xs-12  col-lg-12">
                        <div class="col-md-2 col-xs-2 col-lg-2 control-label">
                            <label>是否每天都可投票：</label>
                        </div>
                        <div class="col-md-4 col-xs-4 col-lg-4">
                            <input v-model="detail.is_allow_vote_repeat" placeholder="是否每天都可投票" type="checkbox" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="widget-buttons" style="float:right;padding-right:15px;">
                        <span class="btn btn-palegreen btn-xs" v-on:click="addItem">新增</span>
                    </div>
                </div>
                    <div class="row" style="margin:auto;font-size:14px;color:#717f9a;">
                        <table border=1 cellSpacing=0 cellPadding=1 width="100%" style="table-layout: fixed;border-collapse:collapse;font-size: 14px;line-height: 22px;margin:0 auto;" bordercolor="#d5d5d5">
                            <thead style="text-align:center;">
                                <tr style="height:40px;">
                                    <td style="width:50px;">序号</td>
                                    <td>选项内容</td>
                                    <td style="width:200px;">选项备注</td>
                                    <td style="width:40px;">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item,index in detail.vote_item">
                                    <td style="text-align:center;height:60px;">{{index+1}}</td>
                                    <td>
                                        <div style="padding:4px;">
                                            <textarea style="resize:none;width:100%;margin:0;border:none;" v-model="item.content"></textarea>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="padding:4px;">
                                            <textarea style="resize:none;width:100%;margin:0;border:none;" v-model="item.ext_val"></textarea>
                                        </div>
                                    </td>
                                    <td style="border-right:0;text-align:center;">
                                        <a style='text-align:center;cursor: pointer;' href='javascript:void(0)' v-on:click='DeleteVoteItem(item.id,index)'>删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="save">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
    </div>
</div>
